.container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #313131;
}
.Header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-black);
}
.navlink {
  display: contents;
}
.image {
  height: 2rem;
  text-decoration: none;
}
.Nav {
  display: flex;
}
.BtnGroup {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.Spanish {
  font-style: normal;
  font-weight: 700;
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
  background-color: var(--dl-color-primary-2);
}
.UnServices {
  color: var(--dl-color-gray-black);
  text-decoration: none;
  background-color: var(--dl-color-primary-1);
}
.text {
  font-style: normal;
  font-weight: 700;
}
.BurgerMenu {
  display: none;
}
.icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.MobileMenu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.Nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.Container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.image1 {
  height: 2rem;
}
.MenuClose {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.Hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.8) 100%),url('https://images.unsplash.com/photo-1646387785399-6e8693ef5074?ixid=Mnw5MTMyMXwwfDF8YWxsfDI0fHx8fHx8Mnx8MTY0NjQyNTM3Nw&ixlib=rb-1.2.1&w=1500');
}
.text03 {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  font-family: Krona One;
}
.text04 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-twounits);
  font-family: Inter;
  margin-bottom: var(--dl-space-space-twounits);
}
.BtnGroup1 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.button {
  font-size: 16px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: capitalize;
}
.button:hover {
  transform: scale(1.02);
}
.button1 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: capitalize;
}
.button1:hover {
  transform: scale(1.02);
}
.Banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.image2 {
  width: 100px;
  margin-top: 0px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.text08 {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  text-align: center;
  font-family: Krona One;
}
.text09 {
  color: var(--dl-color-gray-white);
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.BtnGroup2 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.button2 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.button2:hover {
  transform: scale(1.02);
}
.button3 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.button3:hover {
  transform: scale(1.02);
}
.Footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-black);
}
.container2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.Logo {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.image3 {
  height: 2rem;
}
.text13 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.LinksContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.Container3 {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.ProductContainer {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: column;
  justify-content: flex-start;
}
.text14 {
  color: var(--dl-color-gray-white);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.text15 {
  color: var(--dl-color-gray-white);
  margin-bottom: var(--dl-space-space-unit);
}
.text16 {
  color: var(--dl-color-gray-white);
  margin-bottom: var(--dl-space-space-unit);
}
.text17 {
  color: var(--dl-color-gray-white);
}
.CompanyContainer {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.text18 {
  color: var(--dl-color-gray-white);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.text19 {
  color: var(--dl-color-gray-white);
  margin-bottom: var(--dl-space-space-unit);
}
.text20 {
  color: var(--dl-color-gray-white);
  margin-bottom: var(--dl-space-space-unit);
}
.container4 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.Contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.text21 {
  color: var(--dl-color-gray-white);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.text22 {
  color: var(--dl-color-gray-white);
  margin-bottom: var(--dl-space-space-unit);
}
.text23 {
  color: var(--dl-color-gray-white);
}
.Separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-900);
}
.SocialBar {
  width: 100%;
  display: flex;
  padding: 0px;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.icon10 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.icon12 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.link {
  display: contents;
}
.icon14 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}
.link1 {
  display: contents;
}
.icon16 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-left: var(--dl-space-space-sixunits);
  margin-right: 0px;
  text-decoration: none;
}
@media(max-width: 991px) {
  .Hero {
    flex-direction: column;
  }
  .text03 {
    text-align: center;
  }
  .text04 {
    text-align: center;
  }
  .Footer {
    flex-direction: column;
  }
  .Container3 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .ProductContainer {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .Header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .Nav {
    display: none;
  }
  .BtnGroup {
    display: none;
  }
  .BurgerMenu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .Banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .text09 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .Footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .container2 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .Logo {
    align-items: center;
  }
  .image3 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .text13 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .LinksContainer {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .Container3 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .ProductContainer {
    margin-right: var(--dl-space-space-fourunits);
  }
  .SocialBar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .Header {
    padding: var(--dl-space-space-unit);
  }
  .icon {
    fill: var(--dl-color-gray-white);
  }
  .MobileMenu {
    padding: 16px;
  }
  .Hero {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .BtnGroup1 {
    flex-direction: column;
  }
  .Banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .BtnGroup2 {
    flex-direction: column;
  }
  .button3 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .Footer {
    padding: var(--dl-space-space-unit);
  }
  .container2 {
    align-items: center;
    flex-direction: column;
  }
  .image3 {
    margin-bottom: 0px;
  }
  .text13 {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .LinksContainer {
    align-items: center;
    flex-direction: column;
  }
  .Container3 {
    margin-right: 0px;
  }
  .container4 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .Contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .SocialBar {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
