.Nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.Nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: var(--dl-color-gray-black);
}
.navlink {
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.navlink1 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navlink2 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.text {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
}












@media(max-width: 767px) {
  .Nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .Nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .text {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
